.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
scripts/**
claude-temp/**
*.log
.DS_Store
node_modules/**
package-lock.json
.claude/**
.private/**
.ruby-lsp/**
out/test/**
puppetfile-depgraph/
standaloneParser.js
standaloneParser.ts
test_api.js.map
